<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>Backbone - Shopping List</title>
	<link rel="stylesheet" type="text/css" href="css/main.css"/>
</head>
<body>
<div id="app">
	<h3>Shopping List</h3>

	<div id="addFormContainer">
		<input id="new-item" type="text" placeholder="What do you want to buy?">
		<input id="count" type="text" placeholder="Quantity?">
		<div id="add">Add</div>
	</div>

	<ol id="item-list"></ol>

</div>


<script type="text/template" id="one-item-template">
		<% _.each(model, function(item) { %>
		<li>
			<label <%= item.done ? 'class="done"' : '' %>>
			<!--todo use class done here-->
			<input class="toggle" type="checkbox" <%= item.done ? 'checked="checked"' : '' %> />
			<%= item.title %> -
			<%= item.quantity %>
			</label>

			<a class="destroy">X</a>
		</li>
		<% }) %>

</script>

<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
<script src="js/libs/backbone.localStorage.js"></script>
<script src="js/model/model.js"></script>
<script src="js/collection/items.js"></script>
<script src="js/views/list.js"></script>
<script src="js/views/form.js"></script>
<script src="js/index.js"></script>
</body>
</html>